<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
        <script src="../static/js/index.js"></script>
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
        </div> 
        <div class='container'>
            <div class='jumbotron'>
                <h1 id='header'>Fuck I Had That</h1>
            </div>
        </div>
        <div id='testButton' class='container'>
            <br>
            <form action='/input/' method="POST">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Food name" name="food_name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Quantity" name="food_quantity">
                    </div>
                    <div class='col'>
                        <input type="text" class="form-control" placeholder="Expiration Date" name="exp_date">
                    </div>
                    <div class='col'>
                        <input type="text" class="form-control" placeholder="Food Type" name="food_type">
                    </div>
                </div>
                <div>
                    <input type="submit" >
                </div>
            </form>
        <br>
        </div>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for food, bitch ...">
        <div class='container'>
            <div class="row">
                <div class="col-sm">
                    {% if Food %}
                        <table id="myTable" class="table">
                            <th>Food</th>
                            <th>Quantity</th>
                            <th>Expire</th>
                        {% for food in Food %}
                            <tr>
                                <td>{{food[1]}}</td>
                                <td>{{food[2]}}</td>
                                <td>{{food[3]}}</td>
                            </tr>
                        {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <!-- <div class="col-sm">
                    <label>Perishables</label>
                    {% if Perishables %}
                        <table id="myTable" class="table">
                        {% for perish in Perishables %}
                            <tr>
                                <td>{{perish}}</td>
                            </tr>
                        {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div class="col-sm">
                    <label>Cans</label>
                    {% if Cans %}
                        <ul>
                        {% for can in Cans %}
                            <li>{{can}}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="col-sm">
                    <label>Boxes</label>
                    {% if Boxes %}
                        <ul>
                        {% for box in Boxes %}
                            <li>{{box}}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div> -->
            </div>
        </div>
    </body>
</html>